h1 {
    font-size: 60px;
    font-family: sans-serif;
}

body {
    background-color: rgb(221, 221, 221);
}

input {
    border-radius: 7px;
    border: 1px solid gray;
    width: 200px;
}